{% extends 'base.html' %}
{% block title%}Seforim Index{% endblock %}

{% block content %}
{% if seforim %}
    <table class="seforim-table">
        <tr>
            <th>Sefer</th>
            <th>Up to</th>
            <th>Stored in</th>
    {% for sefer in seforim %}
        <tr>
        <td class="seforim-cell"><a href="{% url 'tracker:individual-sefer' sefer.id %}">{{sefer.id}} - {{ sefer.donator }}</a></td>
        <td class="seforim-cell">{{sefer.location_in_text}}</td>
        <td class="seforim-cell">{{sefer.physical_location}}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No seforim stored.</p>
{% endif %}
{% endblock %}