<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Sifrei Torah {% endblock %}</title>
    </head>
    
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">

    <body>
        <div class="sidebar">
            <a href="{% url 'tracker:index' %}">Home</a>
            <a href="{% url 'tracker:seforim-index' %}">Seforim</a>
        </div>

        <div class="content">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>